<% include header.ejs %>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <form action="">
                <fieldset>
                    <legend><%= label%></legend>
                    <textarea name="c_editor" id="c_editor"  rows="10" class="span12"></textarea>
                    <button id="c_save" class="btn btn-primary" type = 'button'>保存</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<% include footer.ejs %>